.event {
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}



.summary {
    font-size: 1.4rem;
}

.upcoming {
    content: Upcoming;
    border: 1px solid #ccc;
    z-index: -1;
}
.line {
    border-bottom: 1px solid #ccc;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
}
